
<!--<div class="row">
<div class="col">
  <div class="shadow-lg" style="width: 18rem;">
    <div class="card" style="width: 18rem;">
      <div class="card-body"  >
        <img class="card-img-top"src="assets/images/proj.png">
        <h1>{{property.Name}}</h1>
        <h2>{{property.Type}}</h2>
        <h3>{{property.Price}}</h3>
      </div>
    </div>
    </div>
    </div>


    <div class="col">
    <div class="shadow-lg" style="width: 18rem;">
      <div class="card" style="width: 18rem;">
        <div class="card-body"  >
          <img class="card-img-top"src="assets/images/proj.png">
          <h1>{{property.Name}}</h1>
          <h2>{{property.Type}}</h2>
          <h3>{{property.Price}}</h3>
        </div>
      </div>
      </div>
      </div>


      <div class="col">
        <div class="shadow-lg" style="width: 18rem;">
          <div class="card" style="width: 18rem;">
            <div class="card-body"  >
              <img class="card-img-top"src="assets/images/proj.png">
              <h1>{{property.Name}}</h1>
              <h2>{{property.Type}}</h2>
              <h3>{{property.Price}}</h3>
            </div>
          </div>
          </div>
          </div>


      </div>

    -->

    <div class="row">
      <div class="shadow-lg col-sm-4 P-3">
        <div class="card">
            <img class="card-img-top"src="assets/images/proj.png">
            <div class="card-body p-2">
            <h1>{{property.Name}}</h1>
            <h2>{{property.Type}}</h2>
            <h3>{{property.Price}}</h3>
          </div>
        </div>
        </div>
        </div>
